include LICENSE
include sapporo-wes-1-1-0-openapi-spec.yml
include sapporo/auth_config.json
include sapporo/auth_config.schema.json
include sapporo/executable_workflows.json
include sapporo/executable_workflows.schema.json
include sapporo/run.sh
include sapporo/service-info.json
include sapporo/service-info.schema.json
