name: lint

on:
  push:
    branches:
      - main
    paths:
      - "sapporo/**"
      - "tests/**"
      - "pyproject.toml"
  workflow_dispatch: {}
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  lint:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.12"

      - name: Install Dependencies
        run: uv sync --locked --all-extras

      - name: Run ruff check
        run: uv run ruff check sapporo/ tests/

      - name: Run ruff format check
        run: uv run ruff format --check sapporo/ tests/

      - name: Run mypy
        run: uv run mypy ./sapporo ./tests
