name: lint

on:
  push:
    branches:
      - main
    paths:
      - "sapporo/**"
      - "pyproject.toml"
  workflow_dispatch: {}
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  lint:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Update and Install apt Dependencies
        run: |
          sudo apt update
          sudo apt install -y jq

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/pyproject.toml') }}

      - name: Install Python Dependencies
        run: |
          python3 -m pip install --progress-bar off -U pip
          python3 -m pip install --progress-bar off -U .[tests]

      - name: Run pylint
        run: |
          pylint ./sapporo ./tests

      - name: Run mypy
        run: |
          mypy ./sapporo ./tests

      - name: Run isort
        run: |
          isort --check-only ./sapporo ./tests
