name: lint

on:
  push:
    branches:
      - main
    paths:
      - "sapporo/**"
      - "tests/**"
      - "pyproject.toml"
  workflow_dispatch: {}
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  ruff:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"

      - name: Run ruff check
        run: uvx ruff check sapporo/ tests/

      - name: Run ruff format check
        run: uvx ruff format --check sapporo/ tests/

  mypy:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: uv sync --locked --all-extras

      - name: Run mypy
        run: uv run mypy ./sapporo ./tests/unit
