name: pytest

on:
  push:
    branches:
      - main
    paths:
      - "sapporo/**"
      - "pyproject.toml"
  workflow_dispatch: {}
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  pytest:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.12"

      - name: Update and Install apt Dependencies
        run: |
          sudo apt update
          sudo apt install -y jq

      - name: Install Dependencies
        run: uv sync --locked --all-extras

      - name: Run pytest
        run: uv run pytest -s
