name: release

on:
  push:
    tags:
      - "*.*.*"

jobs:
  pypi-publish:
    if: github.repository == 'sapporo-wes/sapporo-service'
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"

      - name: Build
        run: uv build

      - name: Check with Twine
        run: uvx twine check dist/*

      - name: Publish to PyPI
        env:
          UV_PUBLISH_USERNAME: ${{ secrets.PYPI_USERNAME }}
          UV_PUBLISH_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: uv publish

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist/

  docker-push:
    if: github.repository == 'sapporo-wes/sapporo-service'
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: |
            VERSION=${{ github.ref_name }}
          tags: |
            ghcr.io/${{ github.repository_owner }}/sapporo-service:${{ github.ref_name }}
            ghcr.io/${{ github.repository_owner }}/sapporo-service:latest

  github-release:
    if: github.repository == 'sapporo-wes/sapporo-service'
    needs: [pypi-publish, docker-push]
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          name: dist

      - name: Create Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          TAG: ${{ github.ref_name }}
        run: gh release create "$TAG" --repo "$GH_REPO" --title "$TAG" --generate-notes sapporo-"$TAG".tar.gz sapporo-"$TAG"-py3-none-any.whl
